/* === GENERAL === */
body {
  margin-top: 50px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: url(../images/concrete_seamless.png) top left repeat; }

/* === GLOBAL === */
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-weight: bold;
  font-family: "Lato", sans-serif; }

h1 {
  font-size: 3em; }

h1, h2 {
  margin: 0 0 40px; }

h3 {
  margin: 20px 0; }

h4 {
  font-size: 18px; }

p {
  margin: 0 0 15px; }

p.lead {
  font-weight: normal; }

a {
  text-decoration: none;
  color: #dd5638; }

a:hover, a:focus {
  text-decoration: none;
  color: #95301a; }

i.fa {
  color: #dd5638; }

button, input, .btn, a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  color: white; }

.btn {
  font-weight: bold; }

.btn-danger {
  background-color: #dd5638;
  border-color: #dd5638; }

.btn-danger:hover, .btn-danger:focus {
  background-color: #95301a;
  border-color: #95301a; }

img {
  max-width: 100%; }

section {
  padding-top: 50px;
  padding-bottom: 80px; }

.feature-image {
  background: url("../images/hero-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 110px;
  min-height: 200px;
  color: white;
  text-align: center; }

.carousel-inner .item img {
  width: 100%; }
.carousel-inner .item .carousel-caption {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.6); }

/* === HERO === */
#hero {
  background: url("../images/hero-bg.jpg") no-repeat center fixed;
  background-size: cover;
  min-height: 500px;
  color: white; }

#hero .background {
  background: white; }

#hero img {
  width: 75%;
  margin-top: 85px; }

#hero .lead {
  text-align: center;
  margin-top: 105px; }

#hero .btn {
  text-align: center;
  margin-top: 20px; }

#hero .btn-text {
  text-align: center; }

#home-donate {
  text-align: center; }

/* === Who We Are === */
#who-we-are .section-header {
  text-align: center;
  margin-top: 40px; }

#who-we-are p {
  text-align: center; }

/* === What We Do === */
#what-we-do {
  background: white; }

#what-we-do .section-title, .section-header, p {
  text-align: center; }

#what-we-do .section-title {
  margin-top: 30px; }

/* ==== What We've Done ==== */
#done {
  background: #3e4249;
  color: white; }

#done .num {
  display: table;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 24px;
  margin-top: 60px;
  height: 140px;
  width: 140px;
  margin-top: 15px;
  text-align: center;
  -webkit-font-rendering: antialiased;
  text-rendering: optimizelegibility;
  border-radius: 100%;
  background: #dd5638; }

#done .num-content {
  display: table-cell;
  vertical-align: middle; }

#done .num span {
  display: block;
  font-size: 20px;
  font-weight: normal;
  padding-top: 5px; }

/* ==== Want to Help ==== */
#help {
  background: white; }

/* ===== How We Started ===== */
#how-started .section-header img {
  width: 25%;
  max-height: 200px; }

#how-started .section-header h3 {
  text-align: center; }

/* ===== What We've Done ===== */
#what-done {
  padding-top: 0; }
  #what-done .scholarship-text {
    margin-top: 30px; }

/* ===== DONATIONS ====== */
#donate-form {
  padding: 20px;
  color: white;
  border-radius: 5px;
  text-align: center; }
  #donate-form input[type=radio] {
    margin-left: 10px; }
  #donate-form input[type=radio]:first-child {
    margin-left: 0; }

/* ==== FOOTER ==== */
footer {
  background-color: #3e4249;
  color: white; }

footer p, footer img {
  margin-top: 12px; }

nav {
  margin-top: 7px; }

nav ul li, footer p {
  font-size: 12px; }

/*# sourceMappingURL=main.css.map */
